﻿@{
    var isAuthenticated = User.Identity.IsAuthenticated;
    var userRole = HttpContext.Current.Session["UserRole"] as string;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (!isAuthenticated)
                {
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    switch (userRole)
                    {
                        case "JobSeeker":
                            @Html.ActionLink("Job Seeker", "Index", "JobSeekerAccount", new { area = "" }, new { @class = "navbar-brand" });
                            break;
                        case "Employer":
                            @Html.ActionLink("Employer", "Index", "EmployerAccount", new { area = "" }, new { @class = "navbar-brand" });
                            break;
                        case "RecruitmentAgency":
                            @Html.ActionLink("Recruiter", "Index", "RecruitmentAgencyAccount", new { area = "" }, new { @class = "navbar-brand" });
                            break;
                        default:
                            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" });
                            break;
                    }
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (!isAuthenticated)
                    {
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                    }
                    else
                    {
                        switch (userRole)
                        {
                            case "JobSeeker":
                                <li>@Html.ActionLink("Applications", "Index", "JobApplication")</li>
                                <li>@Html.ActionLink("Educations", "Index", "JobSeekerEducation")</li>
                                <li>@Html.ActionLink("Experiences", "Index", "JobSeekerExperience")</li>
                                    <li>@Html.ActionLink("Courses", "Index", "JobSeekerCourse")</li>
                                    <li>@Html.ActionLink("Find Jobs", "Search", "JobSearch")</li>
                                    <li>@Html.ActionLink("Settings", "Edit", "JobSeekerAccount")</li>
                                break;
                            case "Employer":
                                <li>@Html.ActionLink("Positions", "Index", "EmployerJobPosition")</li>
                                <li>@Html.ActionLink("Contacts", "Index", "EmployerContactPerson")</li>
                                    <li>@Html.ActionLink("Recruiters", "Recruiters", "EmployerAccount")</li>
                                break;
                            case "RecruitmentAgency":
                                <li>@Html.ActionLink("Positions", "Index", "RecruitmentAgencyJobPosition")</li>
                                <li>@Html.ActionLink("Contacts", "Index", "RecruitmentAgencyContactPerson")</li>
                                    <li>@Html.ActionLink("Employers", "Employers", "RecruitmentAgencyAccount")</li>
                                break;
                            default:
                                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                <li>@Html.ActionLink("About", "About", "Home")</li>
                                break;
                        }
                    }
                </ul>

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
