﻿@model CRD.Core.ViewModels.JobSeekerAccountViewModel
@{
    ViewBag.Title = "Job Seeker - Create Account";
}

<h2>Job Seeker - Create account</h2>
@using (Html.BeginForm("Create", "JobSeekerAccount", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Firstname)
        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Firstname)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Lastname)
        @Html.TextBoxFor(m => m.Lastname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Lastname)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address)
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Zipcode)
        @Html.TextBoxFor(m => m.Zipcode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Zipcode)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.City)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Homepage)
        @Html.TextBoxFor(m => m.Homepage, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Homepage)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

