﻿@using CRD.Core.ViewModels
@model IEnumerable<CRD.Core.ViewModels.JobApplicationViewModel>
@{
    ViewBag.Title = "Job Seeker - Index";
}

<h2>Latest applications</h2>

@if (Model.Any())
{
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Company</th>
            <th>Job Title</th>
            <th>Posted</th>
            <th>Expires</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var application in Model)
        {
            if (application.JobPosition is EmployerJobPositionViewModel)
            {
                var employerJobPositionViewModel = application.JobPosition as EmployerJobPositionViewModel;
                <tr>
                    <td>@employerJobPositionViewModel.CompanyName</td>
                    <td>@employerJobPositionViewModel.JobTitle</td>
                    <td>@employerJobPositionViewModel.PostedDate</td>
                    <td>@employerJobPositionViewModel.ExpiryDate</td>
                    <td>@Html.ActionLink("Edit", "Edit", "JobApplication", new { id = application.Id }, new { @class = "btn btn-default" })</td>
                    <td>
                        @using (Html.BeginForm("Delete", "JobApplication", new { id = application.Id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Delete</button>
                        }
                    </td>
                </tr>
            }
            if (application.JobPosition is RecruitmentAgencyJobPositionViewModel)
            {
                var recruitmentAgencyJobPositionViewModel = application.JobPosition as RecruitmentAgencyJobPositionViewModel;
                <tr>
                    <td>@recruitmentAgencyJobPositionViewModel.CompanyName</td>
                    <td>@recruitmentAgencyJobPositionViewModel.JobTitle</td>
                    <td>@recruitmentAgencyJobPositionViewModel.PostedDate</td>
                    <td>@recruitmentAgencyJobPositionViewModel.ExpiryDate</td>
                    <td>@Html.ActionLink("Edit", "Edit", "JobApplication", new { id = application.Id }, new { @class = "btn btn-default" })</td>
                    <td>
                        @using (Html.BeginForm("Delete", "JobApplication", new { id = application.Id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Delete</button>
                        }
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
}
else
{
<div class="row">
    <div class="col-md-12">No applications...</div>
</div>
}
