﻿@model IEnumerable<CRD.Core.ViewModels.JobSeekerEducationViewModel>
@{
    ViewBag.Title = "JobSeeker - Education";
}

<h2>Education</h2>

<p>@Html.ActionLink("Create education", "Create", "JobSeekerEducation")</p>

@if (Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Place</th>
                <th>Description</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var education in Model)
            {
                <tr>
                    <td>@education.FromDate</td>
                    <td>@education.ToDate</td>
                    <td>@education.Place</td>
                    <td>@education.Description</td>
                    <td>@Html.ActionLink("Edit", "Edit", "JobSeekerEducation", new { id = education.Id }, new { @class = "btn btn-default" })</td>
                    <td>
                        @using (Html.BeginForm("Delete", "JobSeekerEducation", new { id = education.Id }, FormMethod.Post))
                    {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Delete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="col-md-12">No records...</div>
    </div>
}