﻿@model CRD.Core.ViewModels.RecruitmentAgencyAccountViewModel
@{
    ViewBag.Title = "Recruitment Agency - Create account";
}

<h2>Create Recruitment Agency Account</h2>
@using (Html.BeginForm("Create", "RecruitmentAgencyAccount", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.CompanyName)
        @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CompanyName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
