﻿@model IEnumerable<CRD.Core.ViewModels.EmployerViewModel>
@{
    ViewBag.Title = "Employers";
}

<h2 class="text-center">Employers</h2>

<div class="row">
    @foreach (var employer in Model)
    {
        <div class="col-md-3 contact">
            <h3>@employer.CompanyName</h3>
            <div class="thumbnail">
                <a href="mailto:@(employer.Email)">
                    <img src="http://via.placeholder.com/150x150" alt="Lights" style="width: 100%">
                </a>
                <div class="email">Email: <a href="mailto:@(employer.Email)">@employer.Email</a></div>
            </div>
        </div>
    }
</div>