﻿@model CRD.Core.ViewModels.JobApplicationViewModel
@{
    ViewBag.Title = "Edit Application";
}

<h2>Edit Application</h2>
@using (Html.BeginForm("Edit", "JobApplication", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Text)
        @Html.TextBoxFor(m => m.Text, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Text, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
