﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Central Recruitment Database</h1>
    <p class="lead">"Jobsearch and recruitment in one place"</p>
    <p>@Html.ActionLink("Learn more", "About", "Home", null, new { @class = "btn btn-primary" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>For Job Seekers</h2>
        <p>
            <ul style="height:100px">
                <li>Enter personal information, educations, experiences and/or courses</li>
                <li>Find job positions</li>
                <li>Apply for job position...</li>
            </ul>
        </p>
        <p>@Html.ActionLink("Create account", "Create", "JobSeekerAccount", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>For Employers</h2>
        <p>
            <ul style="height:100px">
                <li>Establish communication with recruitment agencies.</li>
                <li>Advertise new job position</li>
                <li>View job applications for advertised positions.</li>
            </ul>
        </p>
        <p>@Html.ActionLink("Create account", "Create", "EmployerAccount", null, new { @class = "btn btn-primary" })</p>
    </div>
    <div class="col-md-4">
        <h2>For Recruitment Agencies</h2>
        <p>
            <ul style="height:100px">
                <li>Establish communication with employers.</li>
                <li>Advertise new job position</li>
                <li>View job applications for advertised positions.</li>
            </ul>
        </p>
        <p>@Html.ActionLink("Create account", "Create", "RecruitmentAgencyAccount", null, new { @class = "btn btn-primary" })</p>
    </div>
</div>