﻿@model CRD.Core.ViewModels.JobSeekerExperienceViewModel
@{
    ViewBag.Title = "JobSeeker - Edit Experience";
}

<h2>Edit Experience</h2>
@using (Html.BeginForm("Edit", "JobSeekerExperience", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.FromDate)
        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", placeholder = "ex. 01.01.2001" })
        @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ToDate)
        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", placeholder = "ex. 01.01.2001" })
        @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Place)
        @Html.TextBoxFor(m => m.Place, new { @class = "form-control", placeholder = "Enter place" })
        @Html.ValidationMessageFor(m => m.Place, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Enter description" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
