﻿@model IEnumerable<CRD.Core.ViewModels.EmployerJobPositionViewModel>
@{
    ViewBag.Title = "Employer - Index";
}

<h2>Latest Job Positions</h2>

@if (Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Posted</th>
                <th>Expires</th>
                <th>Job Title</th>
                <th>Job Description</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employerJobPosition in Model)
            {
                <tr>
                    <td>@employerJobPosition.PostedDate</td>
                    <td>@employerJobPosition.ExpiryDate</td>
                    <td>@employerJobPosition.JobTitle</td>
                    <td>@employerJobPosition.JobDescription</td>
                    <td>@Html.ActionLink("Edit", "Edit", "EmployerJobPosition", new { id = employerJobPosition.Id }, new { @class = "btn btn-default" })</td>
                    <td>
                        @using (Html.BeginForm("Delete", "EmployerJobPosition", new { id = employerJobPosition.Id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Delete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">No records found...</div>
    </div>
}