﻿@model IEnumerable<CRD.Core.ViewModels.RecruiterViewModel>
@{
    ViewBag.Title = "Recruiters";
}

<h2>Recruiters</h2>

<div class="row">
    @foreach (var recruiter in Model)
    {
        <div class="col-md-3 contact">
            <h3>@recruiter.CompanyName</h3>
            <div class="thumbnail">
                <a href="mailto:@(recruiter.Email)">
                    <img src="http://via.placeholder.com/150x150" alt="Lights" style="width: 100%">
                </a>
                <div class="email">Email: <a href="mailto:@(recruiter.Email)">@recruiter.Email</a></div>
            </div>
        </div>
    }
</div>