﻿@model CRD.Core.ViewModels.RecruitmentAgencyJobPositionViewModel
@{
    ViewBag.Title = "Recruitment Agency - Create Job Position";
}

<h2>Create Job Position</h2>
@using (Html.BeginForm("Create", "RecruitmentAgencyJobPosition", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.ExpiryDate)
        @Html.TextBoxFor(m => m.ExpiryDate, new { @class = "form-control", placeholder = "ex. 01.01.2001" })
        @Html.ValidationMessageFor(m => m.ExpiryDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.JobTitle)
        @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control", placeholder = "Enter Job Title here" })
        @Html.ValidationMessageFor(m => m.JobTitle, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.JobDescription)
        @Html.TextAreaFor(m => m.JobDescription, new { @class = "form-control", placeholder = "Enter Job Description here" })
        @Html.ValidationMessageFor(m => m.JobDescription, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

