﻿
@model IEnumerable<CRD.Core.ViewModels.RecruitmentAgencyContactPersonViewModel>
@{
    ViewBag.Title = "Recruitment Agency - Contacts";
}

<p style="margin-top:50px">@Html.ActionLink("Create Contact", "Create", "RecruitmentAgencyContactPerson")</p>

<h2>Contacts</h2>

<div class="row">
    @foreach (var contact in Model)
    {
        <div class="col-md-3 contact">
            <h3>@contact.Name<br /><small>@contact.Title</small></h3>
            <div class="thumbnail">
                <a href="@Url.Action("Edit", "RecruitmentAgencyContactPerson", new {id = contact.Id})">
                    <img src="http://via.placeholder.com/150x150" alt="Lights" style="width: 100%">
                </a>
                <div class="email">Email: <a href="mailto:@(contact.Email)">@contact.Email</a></div>
                <div class="phone">Phone: @contact.Phone</div>
                <div class="button">
                    @using (Html.BeginForm("Delete", "RecruitmentAgencyContactPerson", new { id = contact.Id }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger">Delete</button>
                    }
                </div>
            </div>
        </div>
    }
</div>
