﻿@model CRD.Core.ViewModels.JobSeekerCourseViewModel
@{
    ViewBag.Title = "JobSeeker - Edit Course";
}

<h2>Edit Course</h2>
@using (Html.BeginForm("Edit", "JobSeekerCourse", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.FromDate)
        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", placeholder = "ex. 01.01.2001" })
        @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ToDate)
        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", placeholder = "ex. 01.01.2001" })
        @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Course)
        @Html.TextBoxFor(m => m.Course, new { @class = "form-control", placeholder = "Enter course title" })
        @Html.ValidationMessageFor(m => m.Course, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Enter course description" })
        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}