﻿@model IEnumerable<CRD.Core.ViewModels.JobSeekerCourseViewModel>
@{
    ViewBag.Title = "JobSeeker - Courses";
}

<h2>Courses</h2>

<p>@Html.ActionLink("Create course", "Create", "JobSeekerCourse")</p>

@if (Model.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Course</th>
                <th>Description</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.FromDate</td>
                    <td>@course.ToDate</td>
                    <td>@course.Course</td>
                    <td>@course.Description</td>
                    <td>@Html.ActionLink("Edit", "Edit", "JobSeekerCourse", new { id = course.Id }, new { @class = "btn btn-default" })</td>
                    <td>
                        @using (Html.BeginForm("Delete", "JobSeekerCourse", new { id = course.Id }, FormMethod.Post))
                    {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Delete</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="col-md-12">No records...</div>
    </div>
}

