﻿@using CRD.Core.ViewModels
@model CRD.Core.ViewModels.JobSearchViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Job Position - Listing</h2>

@using (Html.BeginForm("Search", "JobSearch", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            @Html.LabelFor(m => m.IncludeEmployers, new { @class = "control-label" })
            @Html.CheckBoxFor(m => m.IncludeEmployers, new { @class = "control-label" })
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            @Html.LabelFor(m => m.IncludeRecruitmentAgencies, new { @class = "control-label" })
            @Html.CheckBoxFor(m => m.IncludeRecruitmentAgencies, new { @class = "control-label" })
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            @Html.LabelFor(m => m.MaxElementsToRetrieve, new { @class = "control-label" })
            @Html.DropDownListFor(m => m.MaxElementsToRetrieve, @Model.MaxElementValues, new { @class = "control-label" })
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            @Html.LabelFor(m => m.SearchTerm, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "control-label" })
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <input type="submit" class="btn btn-primary" value="Search" />
        </div>
    </div>
}

@if (Model.JobPositions.Any())
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Posted</th>
                <th>Expires</th>
                <th>Job Title</th>
                <th>Job Description</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var jobPosition in Model.JobPositions)
            {
                if (jobPosition is EmployerJobPositionViewModel)
                {
                    var employerJobPosition = jobPosition as EmployerJobPositionViewModel;
                    <tr>
                        <td>@employerJobPosition.PostedDate</td>
                        <td>@employerJobPosition.ExpiryDate</td>
                        <td>@employerJobPosition.JobTitle</td>
                        <td>@employerJobPosition.JobDescription</td>
                        <td>@Html.ActionLink("Apply", "Create", "JobApplication", new {jobPositionId = employerJobPosition.Id}, new {@class = "btn btn-default"})</td>
                    </tr>
                }
                if (jobPosition is RecruitmentAgencyJobPositionViewModel)
                {
                    var recruitmentAgencyJobPosition = jobPosition as RecruitmentAgencyJobPositionViewModel;
                    <tr>
                        <td>@recruitmentAgencyJobPosition.PostedDate</td>
                        <td>@recruitmentAgencyJobPosition.ExpiryDate</td>
                        <td>@recruitmentAgencyJobPosition.JobTitle</td>
                        <td>@recruitmentAgencyJobPosition.JobDescription</td>
                        <td>@Html.ActionLink("Apply", "Create", "JobApplication", new { jobPositionId = recruitmentAgencyJobPosition.Id }, new { @class = "btn btn-default" })</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">No records found...</div>
    </div>
}
